.container {
    display: flex;
    justify-content: space-around;
  }
  
  .divider {
    border-left: 1px solid black;
    height: 50px;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 0.3rem;
  }
  
  #trans {
    color: white !important;
    background-color: #3a4149 !important;
    font-weight: bold !important;
  }
  .target-achievement-table {
    color: white !important;
  }

  .icon-arrow-left{
    color: #f8cb00;
    
    }
    
    .back-button{
      margin-bottom: 20%;
      background-color: #3a4149 !important;
    }
  