.container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.divider {
  border-left: 1px solid black;
  height: 50px;
}

p {
  margin-top: 0;
  margin-bottom: 0.3rem;
}

#trans {
  color: white !important;
  background-color: #3a4149 !important;
  font-weight: bold !important;
}
.target-achievement-table {
  color: white !important;
}

.icon-arrow-left {
  color: #f8cb00;
}

.back-button {
  margin-bottom: 20%;
  background-color: #3a4149 !important;
}

.higlights {
  display: flex;
}

.card-higlights {
  margin-right: 5%;
}

#cardContainer:hover {
  cursor: pointer;
  padding: 0 20px;
  background-color: #16013a;
  box-shadow: 1px 1px 2px 4px #c4c4c4;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  transition-property: box-shadow;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

#cardContainer {
  margin: 10px;
  background-color: #001628;
  color: white;
  font-size: 18px;
  font-weight: bolder;
}

#infosection {
  animation-timing-function: linear;
  animation-name: mymove;
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}
