// Here you can add other styles
body {
  background-color: #2f353a !important;
  color: #3a4149;
}
.app-body {
  border-right: 1px solid #23282c;
}
.app-header {
  background-color: #3a4149 !important;
  border: 0.5px solid #23282c;
}
.app-footer {
  background-color: #3a4149 !important;
  border: 1px solid #23282c;
}
.card {
  background-color: #3a4149;
  border: 1px solid #23282c !important;
}
.card-header {
  background-color: #343b41 !important;
  color: white !important;
  border-bottom: 1px solid #23282c !important;
}
.card-title {
  color: white !important;
}
.card-footer {
  background-color: #2f353a;
  color: white !important;
}
.breadcrumb {
  background-color: #3a4149 !important;
  border: 1px solid #23282c;
}
.breadcrumb-item {
  a:active {
    color: blue;
  }
}
.bg-primary {
  background-color: #20a8d8 !important;
}
.bg-info {
  background-color: #63c2de !important;
}
.bg-warning {
  background-color: #ffc107 !important;
}
.bg-danger {
  color: #f86c6b;
}

.table {
  .thead-light th {
    background-color: #3a4149 !important;
    border: 0px solid #23282c;
    color: white;
  }
  th,
  td {
    border-top: 1px solid #23282c;
   color: white;
  }
  *, *::before, *::after {
    box-sizing: border-box;
  
  }

  color: white;
  border-right: 1px solid #23282c !important;
}

.d-none {
  display: table !important;
}
.table-outline {
  border: 1px solid #23282c;
}
.sidebar {
  background: #3a4149;
  border-right: 1px solid #23282c;
}
.bar-custom {
  display: block;
  height: 250px !important;
  width: 450px;
  margin-top: 5%
}
.bg-income {
    display: block;
    height: 400px !important;
    width: 100%;
    margin-top: 5%
}
